@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Apple SD Gothic Neo';
  box-sizing: border-box;
}

span {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
